<% layout('layouts/boilerplate') %> 
        <!-- <h3>All Listings</h3> -->
         <div id="filters">
            <div class="filter">
                
            </div>
         </div>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay">abcd</div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br>
                                &#8377;<%=listing.price.toLocaleString("en-IN") %> /night
                        </p>
                    </div>
                </div>
                </a>
                <%}%>
        </div>


    //ejs file ka matlab hota h html ko static se dynamic banana. ejs file se ham apne Javascript ke poore code ko
    (embedd-dusri cheez ke andar
    kisi value ko add krdena) kr skte h aur jise ham interpolation syntax bhi khte h. Isi syntax ko achieve krne ke liye
    ham ejs tags,
    // ka use krte h.

    // ye "/listings/:id" show route ke liye h, jisme hamne sari listing titles ko ek link me convert kr diya h aur href
    me show route de diya jisse
    is link par click krte hi user isi route par phuch jayega jisme ham ek specific listing ke data ko view kr payenge.
    //