<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>All Listings</h3>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
    <ul>
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%= listing._id%>"><%= listing.title %></a></li> 
        <%}%>
    </ul>
</body>
</html>

//ejs file ka matlab hota h html ko static se dynamic banana. ejs file se ham apne Javascript ke poore code ko (embedd-dusri cheez ke andar 
kisi value ko add krdena) kr skte h aur jise ham interpolation syntax bhi khte h. Isi syntax ko achieve krne ke liye ham ejs tags, 
// ka use krte h.

// ye "/listings/:id" show route ke liye h, jisme hamne sari listing titles ko ek link me convert kr diya h aur href me show route de diya jisse 
is link par click krte hi user isi route par phuch jayega jisme ham ek specific listing ke data ko view kr payenge. // 