<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <div>
            <label for="title" class="form-label">title</label>
        <input name="listing[title]" placeholder="enter title">
        </div>
        <br><br>
        <div>
        <label for="title" class="form-label">title</label>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        </div>
        <br><br>
        <div>
        <label for="title" class="form-label">title</label>
        <input name="listing[image]" placeholder="enter image">
        </div>
        <br><br>
        <div>
        <label for="title" class="form-label">title</label>
        <input name="listing[price]" placeholder="enter price">
        </div>
        <br><br>
        <div>
        <label for="title" class="form-label">title</label>
        <input name="listing[location]" placeholder="enter location">
        </div>
        <br><br>
        <div>
        <label for="title" class="form-label">title</label>
        <input name="listing[country]" placeholder="enter country">
        </div>
        <br><br>
        <button>Add</button>
    </form>
</body>